<body class="landing_body">
    <header class="landing_header">

        <div class="login">
            <% unless current_user %>
                <%= link_to "Sign up", new_user_registration_path %> |
                <%= link_to "Log in", new_user_session_path %>
            <% else %>
                <%= current_user[:email] %> | 
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            <% end %>
        </div>
        <h4>
            <i class="material-icons">directions_car</i>
            Carthusiast
        </h4>


    </header>

    <hr />

    <div>
        <div id="landing_img">
            <%= image_tag("car_landing.png") %>
        </div>

        <div class="landing_motto">
            <p>The new way for gearheads to</p>
            <p><strong>CONNECT</strong></p>
        </div>

        <!-- Facebook Log in -->
        <!-- <button class="mdc-button mdc-button--raised secondary-filled-button">
            <% unless current_user %>
                <%= link_to "Sign up with Facebook", user_facebook_omniauth_authorize_path %>
            <% else %>
                <%= current_user[:name] %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            <% end %>
        </button> -->

        <!-- Google Log in -->
        <!-- <button class="mdc-button--raised">
            <%= link_to "Sign up with Google", user_google_oauth2_omniauth_authorize_path %>
        </button> -->
    </div>
    <hr />

</body>

<footer>

</footer>

<p>Find me in app/views/welcome/index.html.erb</p>
